#modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(14, 10, 20, 0.603);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal .contente{
    color: white;
    width: 420px;

}

#modal .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#model .header a{
    background-image: url("../assets/icones/x.svg");
    width: 20px;
    height: 20px;
    display: flex;


}

#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;


}

#modal form label{
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}

#modal form .field{
    display: flex;

}

#modal form input{
    flex: 1;

    background-color: #f0f0f5;

    border-radius: 8px 0 0 8px;
    border: 0;

    padding: 16px 24px;

    font-size: 16px;
    color: #6c6c80;
} 

#modal form button{
    width: 72px;
    height: 72px;
    background-color: #202061;
    border: 0;
    border-radius: 0 8px 8px 0;


}
#modal form button:hover{
    background-color: #517dbe;
}

/* para o modal poin-creat*/

#modal.hide{
    display: none;
}

#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#modal.point h1{
    color: white;
    margin-top: 32px;
}